$font-base: Compromis, Helvetica, Arial, sans-serif;
$font-intro: Oswald, sans-serif;
$font-headline: Bitter, serif;
$background: #92d4f7;
$text-color: #374E87;
$text-color-dark: #0b1e4c;
$basic-orange: #ea580c;
$orange-start: #e28333;
$orange-end: #d4432f;
$secondary-color: #dd473e;
$white: #fff;
$true-color-start: #56C2FF;
$true-color-end: #1270E3;
$false-color-start: #FFDF40;
$false-color-end: #FF8359;
$true-gradient: linear-gradient(to bottom right, $true-color-start 0%, $true-color-end 100%);
$false-gradient: linear-gradient(to bottom right, $false-color-start 0%, $false-color-end 100%);
